body,p{
    margin: 0;
}
/* Heading */
#heading .nav .nav-link{
    color: #000;
    font-weight: 600;
    font-size: large;
}
#heading .nav .nav-link:hover, #heading .nav .nav-link.active{
    color: #fff;
}

/* Home */
#home{
    grid-template-columns: 46% 51%;
    padding: 0 0 0 5%;

}
#home .text .text-heading{
    font-family: 'Cormorant Garamond';
    font-size: 65px;
    padding: 3% 0;
}
#home .text .text-sub-heading{
    padding: 3% 0;
}
#home .text .btn-start{
    column-gap: 5%;
    cursor: pointer;
}
#home .text .btn-start .btn{
    font-size: 15px;
    padding: 2% 3%;
    border-radius: 50px;
    font-family: Helvetica Neue;
    text-align: center;    
}
#home .text .btn-start .btn.start{
    background: linear-gradient(106deg, #88AAED 5.45%, #FCB4CA 106.11%);
    color: #fff;
    font-weight: 600;
}
#home .text .btn-start .btn.start:hover{
    border: 1px solid var(--Linear, #88AAED);
    background: var(--Linear, linear-gradient(106deg, #88AAED 5.45%, #FCB4CA 106.11%));
    background-clip: text;
    color: transparent;
    font-weight: 600;
}

#home .text .btn-start .btn.work {
    border: 1px solid var(--Linear, #88AAED);
    background: var(--Linear, linear-gradient(106deg, #88AAED 5.45%, #FCB4CA 106.11%));
    background-clip: text;
    color: transparent;
}
#home .text .btn-start .btn.work:hover{
    background: linear-gradient(106deg, #88AAED 5.45%, #FCB4CA 106.11%);
    color: #fff;
}
.btn:hover svg path {
    stroke: #fff; /* Màu mới khi hover */
}

#how .step{
    display: flex ;
    flex-direction: column;
    align-items: center; 
    row-gap: 0.5rem;
    padding: 0 16%;
}

#about_us .member{
    display: flex;
    flex-direction: column;
    padding: 2% 3%;
    border-radius: 50px;
    font-family: Helvetica Neue;
    text-align: center;  
    font-size: 24px;
    align-items: center;
    row-gap: 2%;
    width: 380px;
}